<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<!-- Required to be able to use Angular -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
<!-- Including the script file that calls the Instagram API -->
<script src="appController.js"></script>
<!-- Including the css file -->
<link rel="stylesheet" type="text/css" href="styles.css" /> 
</head>
<body ng-app="myApp">
<div ng-controller="myCtrl">
<div ng-init="getDataForImmedia()" id="">
	<h1>Margaret's Media</h1>
	<!-- Display the images -->
	<div ng-model="data">
		<div ng-repeat="obj in data">
			<div class="responsive">
				<div class="img">
					<a id="img-container" target="_blank" href="{{obj.images.low_resolution.url}}">
					<img id="singleImage" ng-src="{{obj.images.low_resolution.url}}"/>
					</a>
					<br>
					
					<p id="likes">
						<!-- Pull the likes-->
						Likes: {{obj.likes.count}}
					</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<button id="btnComments" ng-click="getComments()"> View Comments </button>
	<div ng-repeat="comm in comments">
		<p class="triangle-border">{{comm}}</p>
	</div>
</div>
</div>
 </body>
 </html>